.bg-apiit {
    background-color: teal !important
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Thin.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Thin.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Thin.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ThinItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ThinItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLight.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLight.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLightItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLightItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Light.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Light.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Light.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-LightItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-LightItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-LightItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Regular.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Regular.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Regular.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Italic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Italic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Italic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Medium.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Medium.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Medium.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-MediumItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-MediumItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBold.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBold.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBold.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBoldItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBoldItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-BoldItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BoldItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBold.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBold.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBoldItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBoldItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Black.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Black.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Black.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Saira Semi Condensed';
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-BlackItalic.eot');
    src: url('fonts/SairaSemiCondensed/SairaSemiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BlackItalic.woff') format('woff'),
        url('fonts/SairaSemiCondensed/SairaSemiCondensed-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

#confetti-canvas {
    position: absolute;
    top: 0;
}
